@use "./fonts.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow Condensed';
    text-decoration: none;
    font-size: 16px;
}

body {
    padding: 20px;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
a,p,h1,h2 {
    color: #212122;
}

nav {
    ul {
        list-style-type: none;
    }
}