@use "./fonts.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow Condensed';
    font-weight: normal;
    text-decoration: none;
    color: #212122;
}

body {
    padding: 20px;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: start;
}
h1{
    font-size: 120px;
    line-height: 100%;
}
nav {
    ul {
        list-style-type: none;
    }
}