---
import '../styles/global.scss'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <section class="body-navs">
      <nav>
        <ul>
          <li><p>ABOUT</p></li>
		  <li><p>WORKS</p></li>
		  <li><p>CONTACTS</p></li>
		  <li><p>RAYYAN EKA PUTRA.</p></li>
        </ul>
      </nav>
    </section>
    <section class="body-content">
asdddddddd
    </section>

  </body>
</html>

