---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title = "RAYYAN EKA PUTRA">
  <h1>ENGINEER SPECIALIZING IN COMPUTER NETWORK, LINUX SYSTEM ADMINISTRATIONS, AND SERVER</h1>
</MainLayout>
